@model Chef

<body class="bg-dark text-light">

    <div class="text-center">
        <a asp-controller="Chef" asp-action="AllChefs">Chefs</a> |
        <a asp-controller="Dish" asp-action="Index">Dishes</a> |
        <a asp-controller="Chef" asp-action="NewChef">Add a Chef</a> |
        <a asp-controller="Dish" asp-action="NewDish">Add a Dish</a>
    </div>

    <h1 class="text-center">Add a Chef</h1>
    <hr>
    <form asp-action="CreateChef" asp-controller="Chef" method="post" class="col-8">
        <div class="mb-3">
            <label asp-for="ChefFirstName"></label>
            <input asp-for="ChefFirstName" class="form-control" />
            <span asp-validation-for="ChefFirstName" class="text-danger font-weight-bold"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ChefLastName"></label>
            <input asp-for="ChefLastName" class="form-control" />
            <span asp-validation-for="ChefLastName" class="text-danger font-weight-bold"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Dob"></label>
            <input asp-for="Dob" type="date" class="form-control" />
            <span asp-validation-for="Dob" class="text-danger font-weight-bold"></span>
        </div>
        <div class="btn">
            <input class="btn btn-outline-light" type="submit" value="Add Post">
        </div>
    </form>
</body>